@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600");
.u-wrapper {
  height: inherit;
  position: relative; }

.u-relative {
  position: relative; }

*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #464650; }

.panel {
  margin-top: 6rem;
  margin-left: 6rem;
  background: #F7F9f9;
  box-shadow: 0 0 10px -2px #CDD9DC; }
  .panel__item {
    height: 14rem;
    padding: 3rem 0;
    margin: 0 2rem;
    text-align: center; }
    .panel__item img {
      transition: transform .1s;
      height: 5rem; }
    .panel__item .label {
      transition: color .5s; }
    .panel__item_active {
      color: #464650;
      border-bottom: 3px solid #5cc26c; }
      .panel__item_active img {
        transform: scale(1.1); }
    .panel__item_inactive {
      color: #928D96; }
      .panel__item_inactive:not(:last-child) {
        border-bottom: 1px solid #CDD9DC; }
    .panel__item:hover {
      cursor: pointer;
      opacity: none; }
      .panel__item:hover img {
        transform: scale(1.1); }
      .panel__item:hover .label {
        color: #464650; }

.label {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600; }

.navigation {
  margin: 6rem 8rem 0;
  border-bottom: 2px solid #CDD9DC; }
  .navigation__item {
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: 1px;
    padding: 0 0 2.5rem;
    margin-right: 4rem;
    margin-bottom: 0; }
    .navigation__item_active {
      color: #5cc26c;
      border-bottom: 4px solid #5cc26c; }
    .navigation__item_inactive:hover {
      color: #928D96;
      cursor: pointer; }

.custom-table {
  margin: 5rem 8rem 0;
  position: relative; }

.table-header {
  margin-bottom: 2rem; }
  .table-header__item {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 2%; }

.table-row {
  background-color: #F7F9f9;
  border-radius: 5px;
  margin-top: 1.2rem; }
  .table-row__item {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem 2%; }
    .table-row__item img {
      width: 2rem; }
  .table-row:hover {
    box-shadow: 0 0 15px -2px #CDD9DC;
    width: calc(100% + 4rem);
    margin-left: calc(-4rem/2);
    border-left: 4px solid #5cc26c; }

.size_big {
  width: 42%; }

.size_medium {
  width: 20%; }

.size_small {
  width: 10%; }

.size_tiny {
  width: 5%; }

.applicants {
  position: relative;
  margin-top: 6rem;
  margin-left: 6rem;
  margin-right: 8rem; }
  .applicants__navigation {
    height: 7rem;
    display: block;
    position: relative; }
    .applicants__navigation img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: calc(-6rem);
      height: 5rem; }
      .applicants__navigation img:hover {
        cursor: pointer; }

.applicants-header {
  height: 8vh;
  position: relative; }
  .applicants-header__title {
    position: absolute;
    left: 0;
    font-size: 2.5rem; }
  .applicants-header__download {
    padding: 1rem 3rem;
    border-radius: 100px;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    background: #5cc26c; }
    .applicants-header__download:hover {
      box-shadow: 0 1rem 2rem rgba(92, 194, 108, 0.5); }

.applicant-card {
  background: #F7F9f9;
  display: inline-block;
  position: relative;
  width: 40rem;
  height: 18rem;
  transition: box-shadow .7s, transform .1s, opacity 1s;
  border-left: 10px solid #5cc26c;
  text-align: center; }
  .applicant-card__download {
    opacity: 0; }
    .applicant-card__download img {
      height: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .applicant-card__download img:hover {
        cursor: pointer; }
  .applicant-card:hover {
    box-shadow: 0 0 10px -2px #CDD9DC;
    transform: translateY(-4px); }
    .applicant-card:hover .applicant-card-content {
      animation: moveLeft .5s;
      animation-fill-mode: forwards; }
    .applicant-card:hover .applicant-card__download {
      animation: fadeIn .5s;
      animation-fill-mode: forwards;
      position: absolute;
      right: 0;
      top: 0;
      height: inherit;
      width: calc(2 * 4rem);
      background: #76cc83; }

.applicant-card-content {
  padding: 4rem 4rem 2rem; }
  .applicant-card-content__name {
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 2rem; }
  .applicant-card-content__email {
    font-size: 1.4rem;
    font-weight: bold;
    color: #928D96; }
  .applicant-card-content__contact {
    font-size: 2rem;
    color: #6bCb98; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes moveLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-4rem)); } }

.header {
  height: 8vh;
  width: 100vw;
  padding: 1rem;
  background: #F7F9f9;
  position: relative; }
  .header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin-left: 6rem; }
    .header__logo img {
      height: 4rem; }
  .header .user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    margin-right: 8rem; }
    .header .user__name {
      display: inline-block;
      margin-right: 1.5rem;
      line-height: 0;
      font-size: 1.7rem; }
      .header .user__name_bold {
        font-weight: 600; }
    .header .user__logo {
      display: inline-block; }
      .header .user__logo img {
        height: 4rem; }

.dashboard {
  position: relative; }
  .dashboard__side-pane {
    height: 92vh;
    width: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1f0f0;
    z-index: 5; }
  .dashboard__content {
    position: absolute;
    width: 100%;
    height: 92vh;
    padding-left: 25rem;
    background: #f1f0f0; }
