@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600");
@keyframes rotate {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

.u-wrapper {
  height: inherit;
  position: relative; }

.u-relative {
  position: relative; }

.u-inline-display {
  display: inline-block; }

.u-center-aligntment {
  text-align: center; }

*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7;
  color: #464650; }

.heading-primary_main {
  font-size: 4.5rem;
  font-weight: 300; }

.heading-primary_sub {
  font-size: 2rem; }

.heading-secondary_main {
  font-size: 4rem;
  font-weight: 300; }

.heading-secondary_sub {
  font-size: 1.6rem; }

.heading-tertiary_main {
  font-size: 3rem;
  font-weight: 300; }

.color_gray {
  color: #928D96; }

.color_white {
  color: white; }

.weight_cursive {
  font-style: italic; }

.weight_bold {
  font-weight: 600; }

.panel {
  margin-top: 6rem;
  margin-left: 6rem;
  background: #F7F9f9;
  box-shadow: 0 0 10px -2px #CDD9DC; }
  .panel__item {
    height: 13rem;
    padding: 3rem 0;
    margin: 0 2rem;
    text-align: center;
    letter-spacing: 0.5px; }
    .panel__item img {
      transition: transform .1s;
      height: 4.5rem; }
    .panel__item .label {
      transition: color .5s;
      margin-top: 1.5rem;
      font-size: 1.3rem;
      font-weight: 600; }
    .panel__item_active {
      color: #464650;
      border-bottom: 3px solid #5cc26c; }
      .panel__item_active img {
        transform: scale(1.1); }
    .panel__item_inactive {
      color: #928D96;
      opacity: 0.8; }
      .panel__item_inactive:not(:last-child) {
        border-bottom: 1px solid #CDD9DC; }
    .panel__item:hover {
      cursor: pointer;
      opacity: 1; }
      .panel__item:hover img {
        transform: scale(1.1); }
      .panel__item:hover .label {
        color: #464650; }

.navigation {
  margin: 6rem 8rem 0;
  border-bottom: 1px solid #CDD9DC; }
  .navigation__item {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 0 2.1rem;
    margin-right: 4rem;
    margin-bottom: 0; }
    .navigation__item_active {
      color: #5cc26c;
      font-weight: 600;
      border-bottom: 2px solid #5cc26c; }
    .navigation__item_inactive:hover {
      cursor: pointer; }

.custom-table {
  margin: 3rem 8rem 0;
  position: relative; }

.table-header {
  margin-bottom: 2rem; }
  .table-header__item {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 2%; }

.table-row {
  background-color: #F7F9f9;
  border-radius: 5px;
  margin-top: 1.2rem; }
  .table-row__item {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem 2%; }
    .table-row__item img {
      width: 2rem;
      cursor: pointer; }
  .table-row:hover {
    box-shadow: 0 0 15px -2px #CDD9DC;
    width: calc(100% + 4rem);
    margin-left: calc(-4rem/2);
    border-left: 4px solid #5cc26c; }

.size_big {
  width: 42%; }

.size_medium {
  width: 20%; }

.size_small {
  width: 10%; }

.size_tiny {
  width: 5%; }

.applicants {
  position: relative;
  margin-top: 6rem;
  margin-left: 6rem;
  margin-right: 8rem; }
  .applicants__navigation {
    height: 7rem;
    display: block;
    position: relative; }
    .applicants__navigation img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 5rem; }
      .applicants__navigation img:hover {
        cursor: pointer; }
  .applicants .applicants__list {
    display: inline-block; }

.applicants-header {
  height: 9rem;
  position: relative; }
  .applicants-header-title {
    position: absolute;
    left: 0; }
    .applicants-header-title__job {
      font-size: 2rem; }
    .applicants-header-title__applicants {
      font-size: 1.7rem;
      color: #928D96; }
  .applicants-header__download {
    padding: 1rem 3rem;
    border-radius: 100px;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    background: #5cc26c; }
    .applicants-header__download:hover {
      box-shadow: 0 1rem 2rem rgba(92, 194, 108, 0.5); }

.applicant-card {
  background: #F7F9f9;
  display: inline-block;
  position: relative;
  width: inherit;
  height: 18rem;
  margin-bottom: 5rem;
  border: 1px solid #e4e2e6;
  transition: box-shadow .7s, transform .1s, opacity 1s;
  text-align: center; }
  .applicant-card__download {
    opacity: 0; }
    .applicant-card__download img {
      height: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .applicant-card__download img:hover {
        cursor: pointer; }
  .applicant-card:hover {
    box-shadow: 0 0 15px -2px #CDD9DC;
    transform: translateY(-4px);
    border-left: 10px solid #5cc26c; }
    .applicant-card:hover .applicant-card-content {
      animation: moveLeft 0.1s;
      animation-fill-mode: forwards; }
    .applicant-card:hover .applicant-card__download {
      animation: fadeIn .7s;
      animation-fill-mode: forwards;
      position: absolute;
      right: 0;
      top: 0;
      height: inherit;
      width: calc(2 * 4rem);
      background: #76cc83; }

.applicant-card-content {
  padding: 4rem 4rem 2rem; }
  .applicant-card-content__name {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 2rem; }
  .applicant-card-content__email {
    font-size: 1.4rem;
    font-weight: bold;
    color: #a6a2aa; }
  .applicant-card-content__contact {
    font-size: 2rem;
    color: #6bCb98; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes moveLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-4rem)); } }

.button {
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 100px;
  font-size: 1.2rem;
  padding: 0.8rem 6rem;
  background-color: #F7F9f9;
  border: 2px solid #5cc26c;
  transition: background-color .3s; }
  .button:hover {
    background-color: #5cc26c;
    color: #fff;
    border: 2px solid #F7F9f9;
    cursor: pointer; }

.button-v2 {
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 100px;
  transition: background-color .3s, transform .3s; }
  .button-v2:hover {
    cursor: pointer; }
  .button-v2_disabled {
    cursor: default !important; }
    .button-v2_disabled:hover {
      opacity: .9; }
  .button-v2_shape_square {
    border-radius: 3px; }
  .button-v2_shape_circular {
    border-radius: 100px; }
  .button-v2_color_transparent {
    background-color: #F7F9f9;
    border: 2px solid #5cc26c; }
  .button-v2_color_dark {
    background: #5cc26c;
    color: white;
    border: 2px solid #F7F9f9; }
  .button-v2_hover-color_transparent:hover {
    background-color: #F7F9f9;
    color: #373738;
    border: 2px solid #5cc26c; }
  .button-v2_hover-color_dark:hover {
    background-color: #5cc26c;
    color: #fff;
    border: 2px solid #F7F9f9; }
  .button-v2_animation_hover:hover {
    border: inherit;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(92, 194, 108, 0.5); }

.log-in-field {
  text-align: center; }
  .log-in-field:not(:last-child) {
    margin-bottom: 2rem; }
  .log-in-field__icon {
    width: 5rem;
    display: inline-block; }
    .log-in-field__icon img {
      display: inline-block;
      height: 3rem; }
  .log-in-field__input {
    display: inline-block;
    width: calc(100% - 5rem - 10%); }
    .log-in-field__input input {
      background-color: #F7F9f9;
      border: none;
      height: 5rem;
      font-size: 1.8rem;
      padding-left: 1rem;
      width: 100%; }
      .log-in-field__input input:focus {
        border-bottom: 2px solid #5cc26c; }

.sign-up {
  height: 100vh;
  background: #f8f9fa;
  position: relative; }
  .sign-up-card {
    background: #fff;
    border: none;
    box-shadow: 0 0 15px -2px #CDD9DC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .sign-up-card_size_big {
      width: 90rem; }
    .sign-up-card_size_small {
      width: 55rem; }
    .sign-up-card_size_extra-small {
      width: 50rem; }
    .sign-up-card_rounded-corners {
      border-radius: 20px;
      overflow: hidden; }

.feature-card {
  width: 35rem;
  padding: 4rem;
  text-align: center; }
  .feature-card__image {
    margin-bottom: 2rem; }
    .feature-card__image img {
      height: 11rem; }
  .feature-card__content {
    color: #777786; }
  .feature-card:hover img {
    transform: scale(1.1); }

.home-search__input {
  width: 60rem;
  line-height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding: 0;
  padding-left: 10px;
  font-size: 1.8rem; }

.home-search__submit {
  line-height: 50px;
  padding: 0 2rem;
  margin-left: 1rem;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  background: #F7F9f9;
  color: #928D96; }

.custom-container {
  position: relative;
  top: 40rem; }

.paginator {
  transform: translateX(-50%);
  display: inline-block;
  left: 50%;
  position: relative; }
  .paginator * {
    display: inherit;
    text-align: center; }
  .paginator img {
    height: 26px;
    margin: -11px 20px 0; }
  .paginator__pages {
    margin: 0 2rem; }
  .paginator__page {
    font-size: 1.7rem;
    width: 45px; }
  .paginator__current-page {
    font-size: 1.7rem;
    font-weight: 600;
    background: #5cc26c;
    color: #fff;
    border-radius: 50%;
    width: 43px;
    line-height: 43px; }
    .paginator__current-page_margin_wide {
      margin: 0 2rem; }

.paginator-button {
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 100px;
  font-size: 1.2rem;
  border: 2px solid #5cc26c;
  padding: 1rem 1.5rem;
  position: relative;
  /* this block is generating the spacing that an absolute positioned
     element (the page element) would not be able to. */ }
  .paginator-button__page {
    position: absolute;
    display: inline-block;
    font-size: 2.2rem;
    line-height: 0;
    /* since the parent height collapsed, its position is set manually */
    margin-top: -.4rem; }
  .paginator-button__direction {
    font-size: 1.1rem; }
  .paginator-button:hover {
    cursor: pointer; }
  .paginator-button .page-block {
    width: 2rem;
    display: inline-block;
    position: relative;
    height: inherit; }
    .paginator-button .page-block__left {
      left: 0; }
    .paginator-button .page-block__rigth {
      right: 0; }

.candidate_card {
  border-radius: 5px;
  background: #f8f9fa;
  padding: 2.5rem 7rem;
  margin-right: 3rem;
  position: relative;
  box-shadow: 0 0 15px -2px #CDD9DC; }
  .candidate_card__image {
    position: absolute;
    top: 10px;
    left: -25px; }
    .candidate_card__image img {
      height: 70px;
      box-shadow: 0 0 10px -2px #CDD9DC; }
  .candidate_card__title {
    font-size: 2rem; }
  .candidate_card__date {
    color: #848ca0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  .candidate_card__options {
    position: absolute;
    right: 0;
    bottom: 20px;
    margin-right: 2rem; }
    .candidate_card__options img {
      height: 2rem;
      cursor: pointer; }

.header {
  height: 8vh;
  width: 100vw;
  padding: 1rem;
  background: #F7F9f9;
  position: relative;
  box-shadow: 0 0 10px -2px #CDD9DC;
  z-index: 2; }
  .header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin-left: 6rem; }
    .header__logo img {
      height: 4rem; }
  .header .user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    margin-right: 8rem; }
    .header .user__name {
      display: inline-block;
      margin-right: 1.5rem;
      line-height: 0;
      font-size: 1.7rem; }
      .header .user__name_bold {
        font-weight: 600; }
    .header .user__logo {
      display: inline-block; }
      .header .user__logo img {
        height: 4rem; }

.jobs {
  margin: 10rem 40rem; }
  .jobs .row {
    margin-bottom: 7rem; }

.dashboard {
  position: relative; }
  .dashboard__side-pane {
    height: 92vh;
    width: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #eef0f2;
    z-index: 1; }
  .dashboard__content {
    position: absolute;
    width: 100%;
    height: 92vh;
    padding-left: 25rem;
    background: #eef0f2; }

.log-in {
  position: relative; }
  .log-in__info {
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #5cc26c;
    padding: 0 4rem;
    z-index: 1; }
    .log-in__info .info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60rem;
      right: 0;
      font-size: 3.5rem;
      font-weight: 300;
      color: white;
      text-align: right; }
  .log-in__entry {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-left: 50vw;
    background: #F7F9f9; }

.log-in-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; }
  .log-in-form__header {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 5rem;
    text-align: center; }
  .log-in-form__inputs {
    margin-bottom: 7rem;
    position: relative; }
  .log-in-form-footer {
    text-align: center; }
    .log-in-form-footer__submit img {
      height: 4rem;
      animation-duration: 1s;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .log-in-form-footer__sign-up {
      margin-top: 5rem;
      font-size: 1.2rem;
      font-weight: 600; }
      .log-in-form-footer__sign-up_green {
        color: #5cc26c; }
        .log-in-form-footer__sign-up_green:hover {
          text-decoration: underline;
          cursor: pointer; }
    .log-in-form-footer__recovery {
      margin-top: .5rem;
      font-size: 1.2rem;
      font-weight: 600; }
      .log-in-form-footer__recovery:hover {
        text-decoration: underline;
        cursor: pointer; }
    .log-in-form-footer__error {
      position: absolute;
      bottom: -12rem;
      transform: translateX(-50%);
      width: fit-content;
      background: #E95A51;
      border-radius: 5px;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 600;
      color: #fff;
      display: inline-block;
      padding: .7rem 4rem; }

.pick-sides-header {
  height: 50vh;
  background-image: url(../../images/udea_patio.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .pick-sides-header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 0 2rem; }

.pick-sides-body__sides {
  margin-top: 10rem; }

.pick-sides-body__side-hint {
  margin-top: 2rem;
  font-size: 1.6rem; }

.pick-sides-body .button-spacing {
  width: 25rem;
  padding: 1.5rem 0rem; }

.submition-status {
  text-align: center; }
  .submition-status-footer {
    padding: 3rem; }
    .submition-status-footer__hint {
      font-size: 1.6rem;
      font-weight: 600; }
      .submition-status-footer__hint_color_green {
        color: #5cc26c; }
      .submition-status-footer__hint_color_red {
        color: #E95A51; }

.submition-status-body__icon {
  padding-top: 8rem;
  padding-bottom: 2rem; }
  .submition-status-body__icon img {
    height: 12rem; }

.submition-status-body-message {
  padding: 0 7rem 3rem;
  color: #fff; }
  .submition-status-body-message__header {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600; }
  .submition-status-body-message__body {
    font-size: 1.6rem; }

.submition-status-body_color_green {
  background-color: #72ca80; }

.submition-status-body_color_red {
  background-color: #ec746c; }

.home-header {
  height: 100vh;
  position: relative; }
  .home-header__text-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 5; }
  .home-header__background {
    height: inherit;
    background-image: url(../../images/udea_camilo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; }

.home-info {
  height: 100vh;
  background: #f1f0f0;
  position: relative;
  text-align: center;
  position: relative; }
  .home-info__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home-info__background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; }
    .home-info__background img {
      height: 40vh;
      opacity: .9; }

.home-features {
  background: #F7F9f9; }
  .home-features__group {
    padding-top: 15rem; }
    .home-features__group:last-child {
      padding-bottom: 15rem; }
  .home-features__content-box {
    width: 120rem;
    display: block; }
  .home-features__spectator button {
    margin-top: 2rem;
    font-size: 1.4rem; }
  .home-features__spectator .button-spacing {
    padding: .7rem 3rem; }

.home-footer {
  background: #5cc26c;
  padding: 3.5rem 0;
  color: white;
  font-size: 1.5rem; }
  .home-footer__column {
    width: 30rem; }
    .home-footer__column:not(:last-child) {
      margin-right: 40rem; }
  .home-footer__column-header {
    font-size: 1.7rem; }
  .home-footer__row-header {
    font-size: 1.7rem;
    margin-top: 3.5rem; }
