@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600");
*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #464650; }

.panel {
  position: relative;
  margin-top: 7rem;
  margin-left: 6rem;
  background: #F7F9f9;
  box-shadow: 0 0 10px -2px #CDD9DC; }
  .panel__item {
    position: relative;
    height: 15rem;
    padding: 3rem 0;
    margin: 0 2rem;
    text-align: center; }
    .panel__item img {
      transition: transform .1s; }
    .panel__item .label {
      transition: color .5s; }
    .panel__item_active {
      color: #464650;
      border-bottom: 3px solid #5cc26c; }
      .panel__item_active img {
        transform: scale(1.1); }
    .panel__item_inactive {
      color: #928D96; }
      .panel__item_inactive:not(:last-child) {
        border-bottom: 1px solid #CDD9DC; }
    .panel__item:hover {
      cursor: pointer;
      opacity: none; }
      .panel__item:hover img {
        transform: scale(1.1); }
      .panel__item:hover .label {
        color: #464650; }

.icon {
  height: 5.4rem; }

.label {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600; }

.navigation {
  margin: 7rem 8rem 0;
  border-bottom: 2px solid #CDD9DC; }
  .navigation__item {
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: 1px;
    padding: 0 0 2.5rem;
    margin-right: 4rem;
    margin-bottom: 0; }
    .navigation__item_active {
      color: #5cc26c;
      border-bottom: 4px solid #5cc26c; }
    .navigation__item_inactive:hover {
      color: #928D96;
      cursor: pointer; }

.header {
  height: 7vh;
  width: 100vw;
  display: block;
  background: #F7F9f9; }

.dashboard {
  position: relative; }
  .dashboard__side-pane {
    height: 93vh;
    width: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1f0f0;
    z-index: 5; }
  .dashboard__content {
    position: absolute;
    width: 100%;
    height: 93vh;
    padding-left: 25rem;
    background: #f1f0f0; }
