
@mixin shadow {
  box-shadow: 0 0 10px -2px $geyser;
}
@mixin strong-shadow {
  box-shadow: 0 0 15px -2px $geyser;
}

@mixin y-mid-positioning {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
