// white scale
$white: #fff;
$seaShell: #f1f0f0;
$athensGray: #f8f9fa;
$mischka: #e4e2e6;
$geyser: #CDD9DC;

// grey scale
$regentGray: #848ca0;
$stormGray: #777786;
$mountainMist: #928D96;
$tuna: #373738;
$abbey: #464650;

// blue scale
$blueChill: #138496;
$easternBlue: #17A2B8;
$pickledBlueWood: #303d54;

// green scale
$paradiso: #3e918f;
$deYork: #6bCb98;
$mantis: #5cc26c;

// red scale
$burntSienna: #E95A51;
