@import "abstracts/animations";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/utilities";

@import "base/base";
@import "base/typography";

@import "components/panel";
@import "components/navigation";
@import "components/table";
@import "components/applicants";
@import "components/applicant_card";
@import "components/button";
@import "components/login_field";
@import "components/card";
@import "components/paginator";
@import "components/paginator_button";
@import "components/candidate_card";

@import "layout/header";

@import "pages/candidate-dashboard";
@import "pages/company-dashboard";
@import "pages/login";
@import "pages/sign-up-submition";
