
.candidate_card {

  border-radius: 5px;
  background: $athensGray;
  padding: 2.5rem 7rem;
  margin-right: 3rem;
  position: relative;
  @include strong-shadow;

  &__image {

    position: absolute;
    top: 10px;
    left: -25px;

    img {
      height: 70px;
      @include shadow;
    }
  }

  &__title {
    font-size: 2rem;
  }

  &__date {

    color: $regentGray;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__footer {

    border-top: 1px solid $mischka;
    height: 5rem;
  }

  &__options {

    position: absolute;
    right: 0;
    bottom: 20px;
    margin-right: 2rem;

    img {

      height: 2rem;
      cursor: pointer;
    }
  }
}
