
.feature-card {

  width: 35rem;
  padding: 4rem;
  text-align: center;

  &__image {

    margin-bottom: 2rem;

    img {
      height: 11rem;
    }
  }

  &__content {
    color: $stormGray;
  }

  &:hover {

    img {
      transform: scale(1.1);
    }
  }
}
