
$line-height: 50px;
$border-radius: 5px;

.home-search {

    &__input {

        width: 60rem;
        line-height: $line-height;
        border-radius: $border-radius;
        border: none;
        box-shadow: none;
        padding: 0;
        padding-left: 10px;
        font-size: 1.8rem;
    }

    &__submit {

        line-height: $line-height;
        padding: 0 2rem;
        margin-left: 1rem;
        font-weight:600;
        border-radius: $border-radius;
        font-size: 1.4rem;
        display: inline-block;
        text-align: center;
        background: $azure;
        color: $mountainMist;
    }
}
