
.navigation {

  margin: $dashboard-top-spacing $side-margin 0;
  border-bottom: 1px solid $geyser;

  &__item {

    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:  0 0 2.1rem;
    margin-right: 4rem;
    margin-bottom: 0;

    &_active {

      color: $mantis;
      font-weight: 600;
      border-bottom: 2px solid $mantis;
    }

    &_inactive {

      &:hover {
        cursor: pointer;
      }
    }
  }
}
