$page-size: 1.7rem;

.custom-container {
  position: relative;
  top: 40rem;
}

.paginator {

  transform: translateX(-50%);
  display: inline-block;
  left: 50%;
  position: relative;

  & * {
    display: inherit;
    text-align: center;
  }

  // image position set manually
  img {
    height: 26px;
    margin: -11px 20px 0;
  }

  &__pages {

    margin: 0 2rem;
  }

  &__page {

    font-size: $page-size;
    width: 45px;
  }

  &__current-page {

    font-size: $page-size;
    font-weight: 600;
    background: $mantis;
    color: $white;
    border-radius: 50%;
    width: 43px;
    line-height: 43px;

    &_margin_wide {
      margin: 0 2rem;
    }
  }
}
