
.home-header {

    height: 80vh;
    background-color: $mantis;
    position: relative;

    &__text-box {

        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}

.home-info {

    height: 80vh;
    background: $seaShell;
    position: relative;
    text-align: center;
    position: relative;

    &__text-box {
        @include mid-positioning;
    }
}

.home-features {

  height: 60vh;

  &__group {
    padding-top: 15rem;
    background: $azure;
  }

  &__content-box {

    width: 120rem;
    display: block;
  }

  &__statements {
  }

  &__spectator {

    &_align_left {
      text-align: left;
    }

    &_align_right {
      text-align: right;
    }
  }
}
