
.home-header {

    height: 100vh;
    position: relative;

    &__text-box {

        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    &__background {

      // imagen por: Alejandro Restrepo Arboleda
      height: inherit;
      background-image: url(../../images/udea_camilo.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
}

.home-info {

    height: 100vh;
    background: $seaShell;
    position: relative;
    text-align: center;
    position: relative;

    &__text-box {

      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__background {

      @include x-mid-positioning;
      bottom: 0;

      img {

        height: 40vh;
        opacity: .9;
      }
    }
}

.home-features {

  background: $azure;

  &__group {

    padding-top: 15rem;

    &:last-child {
      padding-bottom: 15rem;
    }
  }

  &__content-box {

    width: 120rem;
    display: block;
  }

  &__statements {}

  &__spectator {

    button {
      margin-top: 2rem;
      font-size: 1.4rem;
    }

    .button-spacing {
      padding: .7rem 3rem;
    }
  }
}

.home-footer {

  background: lighten($mantis, 4%);
  padding: 5rem 0;
  color: white;
  font-size: 1.5rem;
  z-index: 5;

  &__column-header {
    font-size: 1.7rem;
  }

  &__row-header {

    margin-top: 3.5rem;
    font-size: 2rem;
  }
}
