
.home-header {

    height: 80vh;
    background-color: lighten($mantis, 5%);
    // background-color: $mantis;
    position: relative;

    &__text-box {

        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    &__title {

        margin-bottom: 3rem;

        &_main {

            color: white;
            font-size: 4.5rem;
            line-height: 3.5rem;
            letter-spacing: 1px;
            font-weight: 300;
        }

        &_sub {

            color: white;
            font-size: 2rem;
        }
    }
}

.home-info {

    height: 80vh;
    background: $seaShell;
    position: relative;
    text-align: center;
    position: relative;

    &__text-box {
        @include mid-positioning;
    }

    &__title {

        font-size: 4.5rem;
        font-weight: 300;
    }

    &__content {

        font-size: 2rem;
        color: $mountainMist;
    }
}

// todo: move the main titles styles in to the typography component
.home-features {

  height: 60vh;

  &__group {
    padding-top: 15rem;
    background: $azure;
  }

  &__content-box {

    width: 120rem;
    display: block;
  }

  &__statements {
  }

  &__spectator {

    &_main {

      font-size: 4.5rem;
      font-weight: 300;
    }

    &_sub {

      font-style: italic;
      font-size: 1.6rem;
    }

    &_align_left {
      text-align: left;
    }

    &_align_right {
      text-align: right;
    }
  }
}
