$info-width: 50vw;
$login-height: 100vh;

.login {

  position: relative;

  &__info {

    height: $login-height;
    width: $info-width;
    position: absolute;
    top: 0;
    left: 0;
    background: $mantis;
    padding: 0 4rem;
    z-index: 1;

    .info {

      @include y-mid-positioning;
      width: 60rem;
      right: 0;

      font-size: 3.5rem;
      font-weight: 300;
      color: white;
      text-align: right;
    }
  }

  &__entry {

    position: absolute;
    width: 100%;
    height: $login-height;
    padding-left: $info-width;
    background: $azure;
  }
}
.login-form {

  @include mid-positioning;
  width: 60%;

  &__header {

    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__inputs {
    margin-bottom: 7rem;
  }

  &-footer{

  text-align: center;

    &__submit {

    }

    &__sign-up {
      margin-top: 5rem;
      font-size: 1.2rem;
      font-weight: 600;

      &_green {
        color: $mantis;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &__recovery {
      margin-top: .5rem;
      font-size: 1.2rem;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }
}
